<h5 class="card-title text-center text-white">Sign In</h5>
<form class="form-signin" (submit)="submit()">
  <div class="form-label-group">
    <input autocomplete="username" type="text" [(ngModel)]="this.username" name="inputUsername" id="inputUsername"
           class="form-control" placeholder="Username" [disabled]="this.loading" required autofocus>
  </div>

  <div class="form-label-group">
    <input autocomplete="password" type="password" [(ngModel)]="this.password" name="inputPassword" id="inputPassword"
           class="form-control" placeholder="Password" [disabled]="this.loading" required>
  </div>

  <div class="form-label-group">
    <input autocomplete="code" type="text" [(ngModel)]="this.code" name="inputCode" id="inputCode"
           class="form-control" placeholder="Google Authenticator" [disabled]="this.loading" required>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="this.loading">Login</button>
  <br/>
  <a class="btn btn-primary" [routerLink]="'/register'">Haven't got an account?</a>
</form>
