<h1 class="text-white">
  Create a new challenge
</h1>
<input type="text" class="form-control" [(ngModel)]="challenge.title" name="title" placeholder="Title"/>
<!--<ejs-richtexteditor class="form-control" id="description" [(ngModel)]="challenge.description"></ejs-richtexteditor>-->
<textarea class="form-control" [(ngModel)]="challenge.description"></textarea>
<select name="selectPoints" class="form-control" [(ngModel)]="challenge.points">
  <option [ngValue]="100" selected>Easy</option>
  <option [ngValue]="200">Medium</option>
  <option [ngValue]="400">Hard</option>
  <option [ngValue]="800">Impossible</option>
</select>
<input type="text" class="form-control" [(ngModel)]="flag" name="flag" placeholder="kekctf{flag}"/>
<select name="selectCategory" class="form-control" [(ngModel)]="challenge.category">
  <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
</select>
<button (click)="submit()" class="btn btn-primary">Submit</button>
<br/>
<a [routerLink]="'/admin'" class="btn btn-primary">Go back</a>
<br/>
<div class="text-white">
  Description preview:
  <br/>
  <markdown [data]="challenge.description"></markdown>
</div>
