<h1 class="text-white">
  {{ challenge.title }}
</h1>
<h5 class="text-warning" *ngIf="challenge.solved">
  This challenge is already solved by your team!
</h5>
<div class="text-white">
<!--  <div [innerHTML]="this.challenge.description"></div>-->
  <markdown [data]="this.challenge.description"></markdown>
</div>
<br/>
<div class="text-white">
  Points: {{ challenge.points }}
</div>
<br/>
<input [disabled]="challenge.solved" type="text" class="form-control" [(ngModel)]="flag" name="flag" placeholder="kekctf{flag}"/>
<button [disabled]="challenge.solved" (click)="submitFlag()" class="btn btn-primary">Submit</button>
<br/>
<a [routerLink]="['/challenges']" class="btn btn-primary">Go back</a>
