<h1 class="text-white">
  {{ challenge.title }}
</h1>
<h5 class="text-warning" *ngIf="isSolved()">
  This challenge is already solved by your team!
</h5>
<div class="text-white">
  <div [innerHTML]="this.challenge.description"></div>
</div>
<br/>
<div class="text-white">
  Points: {{ challenge.points }}
</div>
<br/>
<input [disabled]="isSolved()" type="text" class="form-control" [(ngModel)]="flag" name="flag" placeholder="KernelFlag{flag}"/>
<button [disabled]="isSolved()" (click)="submitFlag()" class="btn btn-primary">Submit</button>
<br/>
<a [routerLink]="['/challenges']" class="btn btn-primary">Go back</a>
